.aboutLayout {
  width: 60%;
  margin: auto auto;
  padding-bottom: 110px;
}

.contentAbout {
  text-align: center;
  background-color: var(--main-primary);
  border-radius: 20px;
  padding: 20px;
  margin-top: 10vh;
}

.aboutMainContent {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.izacPicture {
  width: 17vw;
  max-width: 250px;
  min-width: 150px;
  height: 17vw;
  max-height: 250px;
  min-height: 150px;
  background-image: url(../../images/profileMuka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 2rem auto;
}

.aboutMainText {
  width: 70%;
  align-self: center;
  text-align: justify;
  padding-left: 30px;
}

.contentAbout h1 {
  color: #ffffff;
  font-size: 2rem;
}

.contentAbout span {
  background-color: var(--main-alternative);
  padding: 0 5px;
  border-radius: 5px;
}

.contentAbout p {
  font-size: 1.1rem;
  color: var(--text-secondary);
}

.SosmedIcon {
  margin: 1rem auto;
}

.SosmedIcon a {
  margin: 0 20px;
  margin-bottom: 10px;
}

.SosmedIcon a i {
  font-size: 2.5rem;
  color: #ffffff;
}

.SosmedIcon a i:hover {
  color: var(--main-secondary);
  text-shadow: 0 0 5px var(--main-alternative);
}

@media (max-width: 1000px) {
  .aboutLayout {
    width: 80%;
    margin: auto auto;
  }

  .SosmedIcon a i {
    font-size: 2rem;
    color: #ffffff;
  }

  .contentAbout p {
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  .contentAbout {
    text-align: center;
    background-color: var(--main-primary);
    border-radius: 20px;
    padding: 10px;
    margin-top: 5vh;
  }

  .aboutMainContent {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .aboutMainText {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .SosmedIcon a i {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .SosmedIcon a {
    margin: 0 10px;
    margin-bottom: 10px;
  }

  .contentAbout p {
    font-size: 0.85rem;
  }
}
