.todoListLayout {
  margin: 0 15vw;
  min-height: 100vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.taskContainer {
  background-color: var(--main-primary);
  color: var(--text-secondary);
  padding: 20px;
  border-radius: 20px;
}

.taskTitle {
  font-size: 2rem;
}

.taskContainer form {
  display: flex;
  flex-direction: column;
}

.taskContainer form label {
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.taskContainer form input {
  font-size: 1.1rem;
  height: 2rem;
}

.todoButton {
  margin-top: 1rem;
  width: 100px;
  border-radius: 5px;
  background-color: var(--main-secondary);
  color: var(--main-alternative);
}

.clearButton {
  margin-left: 20px;
  background-color: red;
  color: #ffffff;
}

.taskListContainer {
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--main-alternative);
  margin-bottom: 5vh;
}

.listContainer {
  margin-top: 20px;
}

.taskContent {
  border: 2px solid #ffffff;
  min-height: 2.5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 12px;
}

.taskContent p {
  width: 65%;
  text-overflow: clip;
}

.taskContent ul {
  list-style-type: none;
}

.taskContent ul li {
  display: inline;
  margin: auto 10px;
}

.taskContent ul li i {
  font-size: 1.5rem;
}

.detailButton:hover {
  color: aqua;
  cursor: pointer;
}

.checkButton:hover {
  color: rgb(75, 255, 47);
}

.deleteButton:hover {
  color: rgb(255, 47, 47);
}

.searchContainer .taskTitle {
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .todoListLayout {
    margin: 0 10vw;
    padding-top: 5vh;
  }

  .taskListContainer {
    padding: 10px;
  }

  .taskContainer {
    padding: 10px;
    border-radius: 20px;
  }

  .taskContent ul li {
    display: inline;
    margin: auto 5px;
  }

  .taskContent ul li i {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .todoListLayout {
    padding-bottom: 110px;
  }

  .taskListContainer {
    padding: 10px;
  }

  .taskTitle {
    font-size: 1.2rem;
  }

  .taskContainer form label {
    font-size: 1rem;
  }

  .taskContainer form input {
    font-size: 1rem;
    height: 1.5rem;
  }

  .detailButton {
    font-size: 1rem;
  }

  .taskContent p {
    font-size: 1rem;
  }

  .taskContent ul li i {
    font-size: 1rem;
  }

  .taskContent ul {
    min-width: 103px;
  }
}

@media (max-width: 500px) {
  .todoListLayout {
    margin: 0 15px;
  }

  .taskContent {
    flex-direction: column;
    text-align: center;
  }

  .taskContent p {
    margin-bottom: 5px;
  }
}
