.layoutHome {
  padding: 10vh 8vw;
  min-height: 100vh;
}

.homeContent {
  width: 60%;
  margin: auto;
}

.logoContainer {
  background-color: #ffffff;
  box-shadow: 0px 0px 6px var(--main-primary);
  border-radius: 20px;
  width: 100%;
  margin: auto;
  display: grid;
  place-items: center;
}

.logoInyong {
  text-align: center;
  padding: 2vh;
  font-size: 5vw;
  font-weight: 900;
  color: var(--main-alternative);
}

.logoInyong i {
  color: var(--main-secondary);
}

.homeText {
  font-size: 2vw;
  color: var(--main-alternative);
}

.introduction {
  text-align: center;
  padding-bottom: 2vh;
}

.checkoutTitle {
  margin-top: 5vh;
}

.darkCheckoutTitle {
  color: #ffffff;
}

.homeCheckout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-primary);
  margin-top: 20px;
  padding: 15px 15px;
  border-radius: 20px;
}

.homeCheckoutDark {
  background-color: var(--main-alternative);
}

.homeCheckout p {
  color: #ffffff;
}

@media (max-width: 1000px) {
  .homeContent {
    width: 100%;
  }

  .logoInyong {
    font-size: 2.5rem;
  }

  .homeText {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .logoInyong {
    font-size: 2rem;
  }

  .homeText {
    font-size: 1rem;
  }

  .homeCheckout {
    font-size: 0.7rem;
  }
}
