.taskDetailLayout {
  margin: 0 15vw;
  padding-top: 5vh;
}

.detailContainer {
  background-color: var(--main-primary);
  color: var(--text-secondary);
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 90px;
}

.detailContainer p {
  font-size: 1.3rem;
  margin-top: 1rem;
  word-wrap: break-word;
}

.detailTitle {
  font-size: 2rem;
}

.statusComplete {
  display: grid;
  place-items: center;
  border-radius: 5px;
  height: 2rem;
  width: 9rem;
  background-color: greenyellow;
  color: black;
}

.statusNotComplete {
  display: grid;
  place-items: center;
  border-radius: 5px;
  height: 2rem;
  width: 9rem;
  background-color: red;
}

@media (max-width: 750px) {
  .taskDetailLayout {
    margin: 0 10vw;
    padding-top: 5vh;
  }

  .detailContainer {
    padding: 20px;
  }

  .detailTitle {
    font-size: 1.6rem;
  }

  .detailContainer p {
    font-size: 1.1rem;
  }
}
